.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 0;
  background: #faf7fa;
  justify-content: flex-start;
  width: 100%;
  font-size: 1rem;
}
.header > :nth-child(1) {
  padding-left: 1rem;
  width: 0.6rem;
}
.header > :nth-child(2) {
  padding: 0 1rem;
  width: 2.4rem;
  border-radius: 50%;
}
.banner {
  background-repeat: no-repeat !important;
  background-size: 100% 100% !important;
  width: 100%;
  max-width: 1080px;
  height: 14rem;
  margin: 0 auto;
}
.main {
  width: 100%;
  box-sizing: border-box;
  background: white;
}
.content-item {
  padding: 0 1rem;
}
.title {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 2rem 0;
}
.time {
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
  color: grey;
}
article p {
  font-size: 1.2rem;
  letter-spacing: 0.25rem;
  margin: 1.2rem 0;
  line-height: 1.8;
}
p b {
  font-weight: 600;
}
p strong {
  font-weight: 700;
}
h2 {
  font-weight: 700;
}
article a img {
  width: 100%;
}
