.tab {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #F8F8F8;
  border-top: 1px solid #ECECEC;
  width: 100%;
}
.tab i {
  font-size: 2.4rem;
}
.tabbara {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  color: #666;
}
.tabbaraActive {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  color: #FF5000;
}
a {
  text-decoration: none;
}
